<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 페이지</title>
</head>
    <header id = "header">
    </header>
    <main>
        <header>
            <h1>첫번째 글</h1>
        </header>

        <aside>
            <p>Uno</p>
            <p><a href="mailto:djkeh@gamil.com" Uno@mail.com></a></p>
            <p><time datetime="2022-01-01T00:00:00">2022-01-02</time></p>
            <p>#java</p>
        </aside>

        <article id="article-content">
            <pre>본문<br><br></pre>
        </article>


        <div>
            <section>
                <form>
                    <div>
                        <label for="comment-textbox" hidden>댓글</label>
                        <textarea id="comment-textbox" placeholder="댓글 쓰기.."></textarea>
                    </div>
                    <div class="col-auto">
                        <label for="comment-submit" hidden>댓글 쓰기</label>
                        <button id="comment-submit" type="submit">쓰기</button>
                    </div>
                </form>

                <ul id="article-comments">
                    <li>
                        <div>
                            <strong>Uno</strong>
                            <small><time>2022-01-01</time></small>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                Lorem ipsum dolor sit amet
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <strong>Uno</strong>
                            <small><time>2022-01-01</time></small>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                Lorem ipsum dolor sit amet
                            </p>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
        <div>
            <nav>
                <ul>
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo; prev</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">next &raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </main>
    <footer id = "footer">
    </footer>

<body>

</body>
</html>
